---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { GLOBAL } from '../../lib/variables';

const title = GLOBAL.projectTitle;
const description = GLOBAL.projectShortDescription;
const permalink = `${Astro.site.href}projects`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="projects">
  <div class="container">
    <h1>{GLOBAL.projectTitle}</h1>
    <p>{GLOBAL.projectLongDescription}</p>
    <p>{GLOBAL.noProjects}</p>
  </div>
</BaseLayout>
